@{
	ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
	<app-root params="history: history, basename: basename, userName: '@User.Identity.Name'"></app-root>
}
else
{
	<a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
}

@section scripts {
	<script src="~/dist/main.js" asp-append-version="true"></script>
}
