@{
	ViewData["Title"] = "Home Page";

	int reportYear = ViewBag.ReportYear;
	int reportMonth = ViewBag.ReportMonth;
}

@if (User.Identity.IsAuthenticated)
{
	<app-root params="history: history, basename: basename, userName: '@User.Identity.Name', reportYear: @reportYear, reportMonth: @reportMonth"></app-root>
}
else
{
	<a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
}

@section scripts {
	<script src="~/dist/main.js" asp-append-version="true"></script>
}
