<script type="text/html" id="calendar-day-template">
	<td data-bind="css: $data.cssClass, click: toggleState ">
		<span data-bind="text: $data.dayOfMonth"></span>
		<div data-bind="text: stateName"></div>
	</td>

</script>

<div class="row calendar">
	<!-- ko if: days().length == 0 -->
	Loading...
	<!-- /ko -->

	<div class="col-lg-10 col-md-8">


		<!-- ko if: days().length -->
		<table>
			<thead class="header">
				<tr>
					<th class="day">Mon</th>
					<th class="day">Tue</th>
					<th class="day">Wed</th>
					<th class="day">Thu</th>
					<th class="day">Fri</th>
				</tr>
			</thead>
			<tbody>
				<!-- ko foreach: weeks() -->
				<tr>
					<!-- ko template: { name: 'calendar-day-template', data: getDay(1) } -->
					<!-- /ko -->
					<!-- ko template: { name: 'calendar-day-template', data: getDay(2) } -->
					<!-- /ko -->
					<!-- ko template: { name: 'calendar-day-template', data: getDay(3) } -->
					<!-- /ko -->
					<!-- ko template: { name: 'calendar-day-template', data: getDay(4) } -->
					<!-- /ko -->
					<!-- ko template: { name: 'calendar-day-template', data: getDay(5) } -->
					<!-- /ko -->
				</tr>

				<!-- /ko -->
			</tbody>

		</table>
		<!-- /ko -->
	</div>

	<div class="col-lg-2 col-md-4 legend">

		<!-- ko foreach: states -->
		<div>
			<span>
				<img data-bind="css: cssClass" width="16" height="16" />
				<span data-bind="text: name"></span>
				<span data-bind="text: '(' + count() + ')'"></span>
			</span>
		</div>
		<!-- /ko -->

	</div>
</div>
