<h4>Calendar</h4>
<hr />

<script type="text/html" id="calendar-day-template">
	<td class="day " data-bind="css: stateName, click: toggleState ">
		<span data-bind="text: $data.dayOfMonth"></span>
	</td>

</script>

<div class="calendar">
	<!-- ko if: days().length == 0 -->
	Loading...
	<!-- /ko -->
	<!-- ko if: days().length -->
	<table>
		<thead class="header">
			<tr>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
			</tr>
		</thead>
		<tbody>
			<!-- ko foreach: weeks() -->
			<tr>
				<!-- ko template: { name: 'calendar-day-template', data: getDay(1) } -->
				<!-- /ko -->
				<!-- ko template: { name: 'calendar-day-template', data: getDay(2) } -->
				<!-- /ko -->
				<!-- ko template: { name: 'calendar-day-template', data: getDay(3) } -->
				<!-- /ko -->
				<!-- ko template: { name: 'calendar-day-template', data: getDay(4) } -->
				<!-- /ko -->
				<!-- ko template: { name: 'calendar-day-template', data: getDay(5) } -->
				<!-- /ko -->
			</tr>

			<!-- /ko -->
		</tbody>

	</table>
	<!-- /ko -->
</div>
